name: schedule

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout Git Source
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '15'

      - name: Install Dependencies
        run: yarn install
        
      - name: Run Command
        run: |
          git config --local user.email "xiadd0102@gmail.com"
          git config --local user.name "xiadd"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          yarn start
          git add -A
          git diff-index --quiet HEAD || git commit -m '实时更新微博热搜'
          git push
        env:
          TOKEN: ${{ secrets.TOKEN }}
